.add__product {
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
    height: auto;
    margin-top: 3rem;
    background: var(--light-gray);
    border-radius: 20px;
    padding: 1rem 0;
    margin-top: 10vh;
}

.add__product h1 {
    text-align: center;
    font-size: var(--text-heading);
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    background: var(--white);
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 1px rgb(255, 255, 255), 0px 0px 1px 1px rgb(44, 44, 44);
}

.form .input {
    width: 80%;
    font-size: var(--text-primary);
    font-family: var(--font-primary);
    color: var(--color-primary);
    padding: 1rem .5rem;
    background: var(--white);
    border: 0;
    border-bottom: 1px solid var(--gray);
    outline: none;
}

.input:focus {
    border-bottom: 2px solid var(--accent-color);
}

.input__cat {
    width: 80%;
    font-size: var(--text-primary);
    font-family: var(--font-primary);
    color: var(--color-primary);
    padding: 1rem .5rem;
    background: var(--white);
    border: 0;
}

.input__cat label {
    font-size: var(--text-primary);
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-weight: 500;
    margin-right: 2rem;
}

#category {
    font-size: var(--text-primary);
    font-family: var(--font-primary);
    color: var(--color-primary);
    padding: 1rem .5rem;
    background: var(--white);
    border: 0;
    border-bottom: 1px solid var(--gray);
    outline: none;
}

#category:focus {
    border-bottom: 2px solid var(--accent-color);
}