@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors */
  --primary-color: rgb(0, 0, 0);
  --accent-color: #00B4D8;
  --gray: gray;
  --light-gray: rgb(244, 242, 243);
  --white: rgb(255, 255, 255);

  /* fonts */
  --font-primary: 'Roboto', sans-serif;
  --font-logo: 'Combo', cursive;

  /* font sizes */
  --text-primary: 1.6rem;
  --text-heading: 2rem;
  --text-heading-big: 4rem;
  --text-logo: 3rem;

  /* font weight */
  --bold: 600;
  --bolder: 700;
}

html{
  font-size: 62.5%;
}

